body {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
background-color:#98002e;
}

#container{
	width:800px;
	margin: auto;
	background-color:#fff;
	padding:10px
}

h3{
	color:#98002e;
	padding:0;
	margin:0;
}
h4{
	text-transform:uppercase;
	padding:0;
	margin:0 0 10px 0;
	color:#afa081;
	font-weight:normal;
	
}
h5{
	font-weight:normal;
	padding:2px;
	margin:2px 0;
	border-top: 1px dashed #555;
	border-bottom: 1px dashed #555;
	font-size:10px;
	color:#555;
}
h5 span{
	margin: 0 40px 0 0;
}
table{
	border-collapse:collapse;
	width:100%
}

th{
	border-bottom:2px solid #afa081;
	text-align:left;
	font-size:12px;
}

td{
	border-bottom:1px solid #afa081;;
	margin:0;
	padding:4px 4px;
	font-size:14px;
}
.place, .lane, .number, .laps{
	text-align:center
}

.time, .delta, .cum, .last{
	text-align:right;
}